[submodule "src/svea_vision"]
	path = src/svea_vision
	url = https://github.com/KTH-SML/svea_vision.git
[submodule "src/svea_mocap"]
	path = src/svea_mocap
	url = https://github.com/KTH-SML/svea_mocap.git
