# The docker build will install pip packages from this requirements file.
#
# If you've added a package that has a requirements file then it is 
# possible to nest requirements, e.g.
#
#   -r src/svea_core/requirements.txt
#
# You can read more here: https://pip.pypa.io/en/stable/reference/requirements-file-format/#requirements-file-format

# These are for RTK-GPS
pyserial
pyubx2
geopy
