# The docker build will install pip packages from this requirements file.
# Currently it is empty but it exist in case there is a future need. Projects based
# on this repository can use this to easily modify the build.
