<?xml version="1.0"?>
<launch>

    <!-- Launch arguments -->
    <arg name="map" default="sml"/>

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

    <!-- Start low-level interface -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="250000"/>
    </node>

    <!-- Start localization -->
    <include file="$(find svea_sensors)/launch/localize.launch"/>

    <!-- Start state publisher -->
    <node name="state_publisher" pkg="svea_core" type="state_publisher.py" output="screen"/>

</launch>
