<?xml version="1.0"?>
<launch>

    <!-- Launch arguments -->
    <arg name="map" default="sml"/>
    <arg name="initial_pose_x" default="-2.65488696"/>
    <arg name="initial_pose_y" default="-1.64422277"/>
    <arg name="initial_pose_a" default="1.57" /> <!-- wrt to map-->

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

    <!-- Start low-level interface -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="250000"/>
    </node>

    <!-- Start localization -->
    <include file="$(find svea_sensors)/launch/localize.launch">
        <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
        <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
        <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
    </include>

    <!-- Start state publisher -->
    <node name="state_publisher" pkg="svea_core" type="state_publisher.py" output="screen"/>

</launch>