<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="map"                 default="maps/sidewalk_DKv_30_east_to_west.yaml"/>
    <arg name="file_name"           default="traj_trial.yaml"/>    <!-- name of the file where the points will be saved. --> 
    <arg name="points_per_person"   default="2"/>      <!-- number of consecutive points used to define the trajectory of 1 pedestrian. -->                   
    <arg name="use_foxglove"        default="true"/>

    <!-- Start map server -->
    <node if="$(eval map != '')" pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find svea_navigation)/$(arg map)"/>

    <!-- Start Foxglove -->
    <include if="$(eval use_foxglove)" file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include>

    <!-- Launch the point_collector node -->
    <node pkg="svea_navigation" type="clicked_points_collector.py" name="point_collector" output="screen">
        <param name="file_name" value="$(arg file_name)" />
        <param name="points_per_person" value="$(arg points_per_person)" />
    </node>



</launch>