<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="gps_device"      default="/dev/ttyACM1"/>
    <arg name="gps_auth_alt"    default="false"/>

    <!-- RTK -->
    <group unless="$(arg gps_auth_alt)">
        <include file="$(find svea_sensors)/launch/sensors_launch/rtk.launch">
            <arg name="gps_device"    value="$(arg gps_device)"/>
            <arg name="username"      value="708583036" />
            <arg name="password"      value="151515" />
        </include>
    </group>
    <group if="$(arg gps_auth_alt)">
        <include file="$(find svea_sensors)/launch/sensors_launch/rtk.launch">
            <arg name="gps_device"    value="$(arg gps_device)"/>
            <arg name="username"      value="707886204" />
            <arg name="password"      value="115544" />
        </include>
    </group>

</launch>
