<?xml version="1.0"?>
<launch>

    <!-- Consumed topics -->
    <arg name="image"           default="/camera/image_raw"/>

    <!-- Produced topics -->
    <arg name="aruco_pose"      default="aruco_pose"/>

    <!-- Auxiliary -->
    <arg name="aruco_dict"      default="DICT_4X4_250"/>
    <arg name="aruco_size"      default="0.365"/>
    <arg name="aruco_tf_name"   default="aruco"/>

    <!-- Argument for camera -->
    <arg name="device_id"       default="0"/>

    <!-- Nodes -->
    <node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <param name="camera_info_url" value="file://$(find svea_sensors)/params/robot_localization/usbc_web_camera.yaml" />
        <param name="device_id"         value="$(arg device_id)"/>
    </node>
</launch>