<?xml version="1.0"?>
<launch>
    <!-- For camera and aruco detection-->
    <arg name="image"                   default="/camera/image_raw"/>
    <arg name="aruco_pose"              default="aruco_pose"/>
    <arg name="aruco_dict"              default="DICT_4X4_250"/>
    <arg name="aruco_size"              default="0.365"/>
    <arg name="aruco_tf_name"           default="aruco"/>
    <arg name="device_id"               default="1"/> 
    
    <arg name="static_gps_fix_topic"    default="static/gps/fix"/>
    <arg name="odometry_gps_topic"      default="static/odometry/gps"/>
    <arg name="aruco_pose_topic"        default="aruco_pose"/>
    <arg name="aruco_id"                default="11"/>    

    <include file="$(find svea_sensors)/launch/camera.launch">
        <arg name="image"           value="$(arg image)"/>
        <arg name="aruco_pose"      value="$(arg aruco_pose)"/>
        <arg name="aruco_dict"      value="$(arg aruco_dict)"/>
        <arg name="aruco_size"      value="$(arg aruco_size)"/>
        <arg name="aruco_tf_name"   value="$(arg aruco_tf_name)"/>
        <arg name="device_id"       value="$(arg device_id)"/>
    </include>
    
    <node name="static_svea_pose" pkg="svea_sensors" type="static_svea_pose.py" output="screen">
        <param name="static_gps_fix_topic"  value="$(arg static_gps_fix_topic)"/>
        <param name="odometry_gps_topic"    value="$(arg odometry_gps_topic)"/>
        <param name="aruco_pose_topic"      value="$(arg aruco_pose_topic)"/>
        <param name="aruco_id"              value="$(arg aruco_id)"/>
    </node>

<!-- look into chatgpt -->
    <!-- <node pkg="rostopic" type="rostopic" name="rostopic_echo_node" output="screen" args="echo /static/pose"/> -->
    <node pkg="rostopic" type="rostopic" name="rostopic_echo_node" args="echo /artest/pose/pose/position/x"/>
</launch>