<?xml version="1.0"?>

<!-- This launch file is for getting a static transform for rtk-gps to utm frame -->

<launch>
    <arg name="device"          default="/dev/GPS" />
    <arg name="delay"           default="2.0" />

    <include file="$(find svea_sensors)/launch/rtk.launch">
        <arg name="device"    value="$(arg device)" />
    </include>
    <include file="$(find svea_sensors)/launch/navsat.launch">
        <arg name="delay"     value="$(arg delay)"/>
    </include>
</launch>