<?xml version="1.0"?>
<launch>
    <!-- Start NATS -->
    <node name="nats_connector2" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <param name="host" value="nats://sml-wan.asuscomm.com:4222"/>
        <remap to="gps/fix" from="static/gps/fix"/>
        <remap to="odometry/gps" from="static/odometry/gps"/>
        <rosparam>
            publishers:
            - static/gps/fix
            - static/odometry/gps
        </rosparam>
    </node>
</launch>