<?xml version="1.0"?>
<launch>
    <node name="test" pkg="svea_sensors" type="static_svea_pose.py" output="screen"/>

    <!-- Start NATS -->
    <node name="nats_connector7" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <param name="host" value="nats://sml-wan.asuscomm.com:4222"/>
        <rosparam>
        subscribers:
          - static/gps/fix
          - static/odometry/gps
        </rosparam>
    </node>
</launch>