<?xml version="1.0"?>

<!-- This launch file is for launching the pedestrian demo for Kista Mobility Day -->

<launch>
    <!-- Launch file arguments -->
    <arg name="xavier"                  default="false"/>
    <arg name="use_camera"              default="true"/>
    <arg name="camera"                  default="rs"/>
    <arg name="map_file"                default=""/>
    <arg name="map_frame"               default="map"/>
    <arg name="wait_for_transform"      default="false"/>
    <arg name="publish_odometry"        default="true"/>
    <arg name="publish_pose"            default="true"/>

    <arg name="initial_pose_x"          default="0.0" />
    <arg name="initial_pose_y"          default="0.0" />
    <arg name="initial_pose_a"          default="0.0" />

    <arg name="use_wheel_encoders"      default="false" />
    <arg name="is_indoors"              default="true" />
    <!-- Should be set to true, if only the localization is running (i.e. this is needed in order to have wheel encoders
    and actuation_to_twist working) -->
    <arg name="start_serial"            default="false" />
    <arg name="device"                  default="/dev/GPS" />
    <arg name="port"                    default="/dev/ttyACM0"/>

    <!-- For running the dummy publisher -->
    <arg name="testing_pedestrian_demo" default="false"/>

    <!-- Start localization -->
    <include file="$(find svea_sensors)/launch/localize.launch">
        <arg name="xavier"              value="$(arg xavier)"/>
        <arg name="use_camera"          value="$(arg use_camera)"/>
        <arg name="camera"              value="$(arg camera)"/>
        <arg name="map_file"            value="$(arg map_file)"/>
        <arg name="map_frame"           value="map"/>
        <arg name="wait_for_transform"  value="$(arg wait_for_transform)"/>
        <arg name="publish_odometry"    value="$(arg publish_odometry)"/>
        <arg name="publish_pose"        value="$(arg publish_pose)"/>
        <arg name="initial_pose_x"      value="$(arg initial_pose_x)" />
        <arg name="initial_pose_y"      value="$(arg initial_pose_y)" />
        <arg name="initial_pose_a"      value="$(arg initial_pose_a)" />
        <arg name="use_wheel_encoders"  value="$(arg use_wheel_encoders)" />
        <arg name="is_indoors"          value="$(arg is_indoors)" />
        <!-- Should be set to true, if only the localization is running (i.e. this is needed in order to have wheel encoders
        and actuation_to_twist working) -->
        <arg name="start_serial"        value="$(arg start_serial)" />
        <arg name="device"              value="$(arg device)" />
        <arg name="port"                value="/dev/ttyACM0"/>

    </include>

    <node name="pedestrian_pose" pkg="svea_sensors" type="pedestrain_location.py" output="screen"/>
    
    <node if="$(arg testing_pedestrian_demo)" name="rsu_msg_pub" pkg="svea_sensors" type="publish_rsu_msg.py" output="screen"/>
</launch>