<?xml version="1.0"?>
<!--
    Launch odometry and slam toolbox
-->

<launch>

    <!-- Launch file arguments -->
    <arg name="xavier"      default="false"/>
    <arg name="camera"      default="rs"/>
    <arg name="slam_delay"  default="5"/>


    <!-- Start the stereo camera -->
    <include if="$(eval camera == 'rs')" file="$(find svea_sensors)/launch/rs_odometry.launch">
        <arg name="xavier" value="$(arg xavier)"/>
    </include>
    <include if="$(eval camera == 'zed')" file="$(find svea_sensors)/launch/zed_odometry.launch">
        <arg name="xavier" value="$(arg xavier)"/>
    </include>

    <!-- Start SLAM -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen" launch-prefix="bash -c 'sleep $(arg slam_delay); $0 $@' ">
        <rosparam command="load" file="$(find svea_sensors)/params/slam_toolbox/slam_sync.yaml" />
    </node>

</launch>