<?xml version="1.0"?>
<!--
    Transforms launch file
-->
<launch>
    <!-- Launch file arguments -->
    <arg name="is_indoors"      default="true" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="odommap_broadcaster"    args="0.0 0.0 0 0 0 0 map odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster"    args="0.0 0.0 0.1 0 0 0 base_link imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gpslink_broadcaster"    args="-0.058 -0.015  0.115 0 0 0 base_link gps" />
    
    <group if="$(arg is_indoors)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="lidarlink_broadcaster"  args="0.284 0 0.2 0 0 0 1 base_link laser" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="t265_link_broadcaster"  args="0.09 0 0.215 0 -1.57 3.14 base_link t265_camera_pose_frame" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="t265_odom_broadcaster"  args="0.09 0 0.215 0 -1.57 3.14 odom t265_camera_odom_frame" />
    </group>
</launch>