<?xml version="1.0"?>

<!--
    Transforms launch file
-->
<launch>
<arg name="xavier" default="false"/>
  <group unless="$(arg xavier)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster" args="0.17 0.074 0.2 0 0 0 1 base_link imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidarlink_broadcaster" args="0.284 0 0.2 0 0 0 1 base_link laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_link_broadcaster" args="0.09 0 0.215 0 -1.57 3.14 base_link t265_camera_pose_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_odom_broadcaster" args="0.09 0 0.215 0 -1.57 3.14 odom t265_camera_odom_frame" />
  </group>
  <group if="$(arg xavier)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster" args="0.12 0.055 0.1 0 0 0 1 base_link imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidarlink_broadcaster" args="0.301 0 0.2 0 0 0 1 base_link laser" />
    <!-- TODO place T265 on Xavier SVEA and meaure transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_link_broadcaster" args="0.09 0 0.215 0 -1.57 3.14 base_link t265_camera_pose_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_odom_broadcaster" args="0.09 0 0.215 0 -1.57 3.14 odom t265_camera_odom_frame" />
  </group>
</launch>
