<?xml version="1.0"?>
<!--
    Xavier odometry launch file
-->

<launch>

    <!-- Launch file arguments -->
    <arg name="camera" default="zed"/>

    <!-- Start the stereo camera -->
    <include if="$(eval camera == 'zed')" file="$(find svea_sensors)/launch/zed_odometry.launch">
        <arg name="xavier" value="true"/>
    </include>
    <include if="$(eval camera == 'rs')" file="$(find svea_sensors)/launch/rs_odometry.launch">
        <arg name="xavier" value="true"/>
    </include>

</launch>
