<?xml version="1.0"?>
<launch>
    <!-- roslaunch svea_examples battery_monitor.launch serial_port:=/dev/ttyACM1 enable_debug:=true -->
    <!-- Launch file arguments -->

    <arg name="baud_rate" default="250000"/>
    <arg name="log_format" default="{:.3f}"/>
    <arg name="rate" default="50"/>

    <!-- Launch the dynamic serial manager node -->
    <node name="rosserial_dynamic" pkg="svea_examples" type="rosserial_dynamic.py" output="screen">
        <!-- Set parameters for the node -->
        <param name="baud" value="$(arg baud_rate)"/>
        <param name="scan_rate" value="1"/>
    </node>
    
    <!-- Debugging options -->
    <arg name="enable_debug" default="false"/>
    <group if="$(arg enable_debug)">
        <node name="rqt_console" pkg="rqt_console" type="rqt_console" output="screen"/>
        <node name="rqt_logger_level" pkg="rqt_logger_level" type="rqt_logger_level" output="screen"/>
    </group>
</launch>