<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="svea">
  
  <!-- 定义namespace参数，默认为空 -->
  <xacro:arg name="namespace" default="" />
  <xacro:property name="ns" value="$(arg namespace)" />

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="orange">
    <color rgba="1 0.5 0 1"/>
  </material>

  <link name="${ns}base_link">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57079632679 0 0" xyz="0.15 0 0.05785"/>
      <material name="black"/>
    </visual>
  </link>

  <link name="${ns}tire1">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/tire.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="3.1415926 0 0" xyz="0.15 0 0.05785"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}base_to_tire1_front_left" type="fixed">
    <parent link="${ns}base_link"/>
    <child link="${ns}tire1"/>
    <origin xyz="0.19 0.06 0"/>
  </joint>

  <link name="${ns}tire2">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/tire.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.15 0 0.05785"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}base_to_tire2_front_right" type="fixed">
    <parent link="${ns}base_link"/>
    <child link="${ns}tire2"/>
    <origin xyz="0.19 -0.06 0"/>
  </joint>

  <link name="${ns}tire3">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/tire.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="3.1415926 0 0" xyz="0.15 0 0.05785"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}base_to_tire3_back_left" type="fixed">
    <parent link="${ns}base_link"/>
    <child link="${ns}tire3"/>
    <origin xyz="-0.15 0.06 0"/>
  </joint>

  <link name="${ns}tire4">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/tire.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.15 0 0.05785"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}base_to_tire4_back_right" type="fixed">
    <parent link="${ns}base_link"/>
    <child link="${ns}tire4"/>
    <origin xyz="-0.15 -0.06 0"/>
  </joint>

  <link name="${ns}mount_body">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/body166.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 1.57079632679" xyz="0.15 0 0"/>
      <material name="grey"/>
    </visual>
  </link>
  
  <joint name="${ns}base_to_mount_body" type="fixed">
    <parent link="${ns}base_link"/>
    <child link="${ns}mount_body"/>
    <origin xyz="-0.01 0.015 0.085"/>
  </joint>

  <link name="${ns}lidar_base">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/lidar_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57079632679 0 0" xyz="0 -0.015 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}mount_body_to_lidar_base" type="fixed">
    <parent link="${ns}mount_body"/>
    <child link="${ns}lidar_base"/>
    <origin xyz="0.37 0 0"/>
  </joint>

  <link name="${ns}lidar_top">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/lidar_top.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57079632679 0 0" xyz="0 -0.015 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}lidar_base_to_lidar_top" type="fixed">
    <parent link="${ns}lidar_base"/>
    <child link="${ns}lidar_top"/>
    <origin xyz="0 0 0.03"/>
  </joint>

  <link name="${ns}lidar_cap">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/lidar_cap.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57079632679 0 0" xyz="0 -0.015 0"/>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="${ns}lidar_top_to_lidar_cap" type="fixed">
    <parent link="${ns}lidar_top"/>
    <child link="${ns}lidar_cap"/>
    <origin xyz="0 0 0.03"/>
  </joint>

  <link name="${ns}zed_box">
    <visual>
      <geometry>
        <mesh filename="package://svea_core/meshes/ZED_Box.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="${ns}mount_body_to_zed_box" type="fixed">
    <parent link="${ns}mount_body"/>
    <child link="${ns}zed_box"/>
    <origin xyz="0.22 0.01 0.037"/>
  </joint>
  
</robot>